.vscode/
*.exe
*.o
*.obj
*.in
*.out
*.ans
*.jar
*.class
*.kotlin_module
test*
tmp.*
temp.*
in.txt
out.txt
ans.txt
.VSCodeCounter/
/duipai/
/my-projects/
.idea/
cmake-build-debug/
CMakeLists.txt
sdu-mpi/
**/.cph